{% extends '::base.html.twig' %}

{% block styleGrafico %}
	{{ parent() }}
	{% stylesheets 
            '@AraucoBaseBundle/Resources/public/css/jquery.jqplot.min.css' 
            filter='yui_css'%}
    <link rel="stylesheet" type="text/css"
          media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %} Pedidos -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      <legend>Pedidos para semana del {{ sWeek }} al {{ eWeek }}</legend>
      <a class="text-info" href="{{ path ('arauco_pedido_extendcsv', {'week': week}) }}">Exportar a .csv <i class="icon-download-alt"></i></a>
      <br />
      <br />
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>DocEntrega</th>
            <th>PosPedido</th>
            <th>Material</th>
            <th>Descripción</th>
            <th>Volumen Pedido</th>
            <th>TA</th>
            <th>TA ETA</th>
            <th>TA FPE</th>
          </tr>
        </thead>
        <tbody>
          {% for entrega in Entregas %}
          <tr>
            <th>{{ entrega[0] }}</th>
            <th>{{ entrega[1] }}</th>
            <th><a href="{{ path('arauco_stock_extend', {'id': entrega[2] }) }}">{{ entrega[2] }}</a></th>
            <th>{{ entrega[3] }}</th>
            <th>{{ entrega[4] }}</th>
            <th>{{ entrega[5] }}</th>
            <th>{{ entrega[6] }}</th>
            <th>{{ entrega[7] }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <div class="alert alert-info"> 
        <strong>NOTA</strong>: Todas las cantidades mostradas en la tabla están en m&sup3;.
      </div>
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
