{% extends '::base.html.twig' %}

{% block styleGrafico %}
	{{ parent() }}
	{% stylesheets 
            '@AraucoBaseBundle/Resources/public/css/jquery.jqplot.min.css' 
            filter='yui_css'%}
    <link rel="stylesheet" type="text/css"
          media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %} Pedidos -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      {% block titulo %}
      <h2>Arauco y Constitución S.A.</h2>
      {% endblock %}
      <h4><i>Sembremos futuro</i></h4>
      <p> Pedidos para semana del {{ sWeek }} al {{ eWeek }} </p>
      </br>
      <a href="{{ path ('arauco_pedido_extendcsv', {'week': week}) }}">Exportar CSV</a></p>

      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>DocEntrega</th>
            <th>PosPedido</th>
            <th>Material</th>
            <th>Descripcion</th>
            <th>VolPedido</th>
            <th>Total Asignado</th>
          </tr>
        </thead>
        <tbody>
          {% for entrega in Entregas %}
          <tr>
            <th>{{ entrega.DocEntrega }}</th>
            <th>{{ entrega.PosPedido }}</th>
            <th>{{ entrega.Material }}</th>
            <th>{{ entrega.Desc_Mat }}</th>
            <th>{{ entrega.VolPedido }}</th>
            <th>{{ entrega.M3 }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>

	</br></br>
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
