{% extends '::base.html.twig' %}

{% block styleGrafico %}
	{{ parent() }}
	{% stylesheets 
            '@AraucoBaseBundle/Resources/public/css/jquery.jqplot.min.css' 
            filter='yui_css'%}
    <link rel="stylesheet" type="text/css"
          media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block scriptGrafico %}
  {{ parent() }}
	{% javascripts
'@AraucoBaseBundle/Resources/public/js/excanvas.min.js'
        '@AraucoBaseBundle/Resources/public/js/jquery.jqplot.min.js'
        '@AraucoBaseBundle/Resources/public/js/jqplot.barRenderer.min.js'
        '@AraucoBaseBundle/Resources/public/js/jqplot.categoryAxisRenderer.min.js'
        '@AraucoBaseBundle/Resources/public/js/jqplot.pointLabels.min.js'
        filter='yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script class="code" type="text/javascript">
    $(document).ready(function(){

            var cpu = [{{ cantEntregasCompletasEnPuerto [0] }}, {{ cantEntregasCompletasEnPuerto [1] }}, {{ cantEntregasCompletasEnPuerto [2] }}, {{ cantEntregasCompletasEnPuerto [3] }}, {{ cantEntregasCompletasEnPuerto [4] }}, {{ cantEntregasCompletasEnPuerto [5] }}, {{ cantEntregasCompletasEnPuerto [6] }}, {{ cantEntregasCompletasEnPuerto [7] }}];
            var cpl = [{{ cantEntregasCompletasEnPlanta [0] }}, {{ cantEntregasCompletasEnPlanta [1] }}, {{ cantEntregasCompletasEnPlanta [2] }}, {{ cantEntregasCompletasEnPlanta [3] }}, {{ cantEntregasCompletasEnPlanta [4] }}, {{ cantEntregasCompletasEnPlanta [5] }}, {{ cantEntregasCompletasEnPlanta [6] }}, {{ cantEntregasCompletasEnPlanta [7] }}];

            var ceta = [{{ cantEntregasCompletablesETA [0] }}, {{ cantEntregasCompletablesETA [1] }}, {{ cantEntregasCompletablesETA [2] }}, {{ cantEntregasCompletablesETA [3] }}, {{ cantEntregasCompletablesETA [4] }}, {{ cantEntregasCompletablesETA [5] }}, {{ cantEntregasCompletablesETA [6] }}, {{ cantEntregasCompletablesETA [7] }}];
            var cieta = [{{ cantCompletadeEntregasIncompletasETA [0] }}, {{ cantCompletadeEntregasIncompletasETA [1] }}, {{ cantCompletadeEntregasIncompletasETA [2] }}, {{ cantCompletadeEntregasIncompletasETA [3] }}, {{ cantCompletadeEntregasIncompletasETA [4] }}, {{ cantCompletadeEntregasIncompletasETA [5] }}, {{ cantCompletadeEntregasIncompletasETA [6] }}, {{ cantCompletadeEntregasIncompletasETA [7] }}];
            var iieta = [{{ cantIncompletadeEntregasIncompletasETA [0] }}, {{ cantIncompletadeEntregasIncompletasETA [1] }}, {{ cantIncompletadeEntregasIncompletasETA [2] }}, {{ cantIncompletadeEntregasIncompletasETA [3] }}, {{ cantIncompletadeEntregasIncompletasETA [4] }}, {{ cantIncompletadeEntregasIncompletasETA [5] }}, {{ cantIncompletadeEntregasIncompletasETA [6] }}, {{ cantIncompletadeEntregasIncompletasETA [7] }}];

            var cfpe = [{{ cantEntregasCompletablesFPE [0] }}, {{ cantEntregasCompletablesFPE [1] }}, {{ cantEntregasCompletablesFPE [2] }}, {{ cantEntregasCompletablesFPE [3] }}, {{ cantEntregasCompletablesFPE [4] }}, {{ cantEntregasCompletablesFPE [5] }}, {{ cantEntregasCompletablesFPE [6] }}, {{ cantEntregasCompletablesFPE [7] }}];
            var cifpe = [{{ cantCompletadeEntregasIncompletasFPE [0] }}, {{ cantCompletadeEntregasIncompletasFPE [1] }}, {{ cantCompletadeEntregasIncompletasFPE [2] }}, {{ cantCompletadeEntregasIncompletasFPE [3] }}, {{ cantCompletadeEntregasIncompletasFPE [4] }}, {{ cantCompletadeEntregasIncompletasFPE [5] }}, {{ cantCompletadeEntregasIncompletasFPE [6] }}, {{ cantCompletadeEntregasIncompletasFPE [7] }}];
            var iifpe = [{{ cantIncompletadeEntregasIncompletasFPE [0] }}, {{ cantIncompletadeEntregasIncompletasFPE [1] }}, {{ cantIncompletadeEntregasIncompletasFPE [2] }}, {{ cantIncompletadeEntregasIncompletasFPE [3] }}, {{ cantIncompletadeEntregasIncompletasFPE [4] }}, {{ cantIncompletadeEntregasIncompletasFPE [5] }}, {{ cantIncompletadeEntregasIncompletasFPE [6] }}, {{ cantIncompletadeEntregasIncompletasFPE [7] }}];

            plot3 = $.jqplot('chart3', [cpu, cpl, ceta, cieta, iieta], {

            // Tell the plot to stack the bars.
            stackSeries: true,
            captureRightClick: true,
            seriesColors:['#06C238', '#7BBBE8',  '#FFD014', '#EDED1A', '#E63535'],
            seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {
                            // Put a 30 pixel margin between bars.
                            barMargin: 30,
                            barDirection: 'vertical',
                            // Highlight bars when mouse button pressed.
                            // Disables default highlighting on mouse over.
                            highlightMouseDown: true
                    },
                    pointLabels: {show: true}
            },
            axes: {
                    xaxis: {
                            renderer: $.jqplot.CategoryAxisRenderer
                    },
                    yaxis: {
                            // Don't pad out the bottom of the data range.  By default,
                            // axes scaled as if data extended 10% above and below the
                            // actual range to prevent data points right on grid boundaries.
                            // Don't want to do that here.
                            padMin:0
                    }
            },
            legend: {
                    show: true,
                    location: 'e',
                    labels: ["Completos en Puerto", "Completos en Planta", "Completables", "Stock Incompleto", "Por Producir"],
                    placement: 'outside'
            }
            });

            plot4 = $.jqplot('chart4', [cpu, cpl, cfpe, cifpe, iifpe], {

            // Tell the plot to stack the bars.
            stackSeries: true,
            captureRightClick: true,
            seriesColors:['#06C238', '#7BBBE8',  '#FFD014', '#EDED1A', '#E63535'],
            seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {
                            // Put a 30 pixel margin between bars.
                            barMargin: 30,
                            barDirection: 'vertical',
                            // Highlight bars when mouse button pressed.
                            // Disables default highlighting on mouse over.
                            highlightMouseDown: true
                    },
                    pointLabels: {show: true}
            },
            axes: {
                    xaxis: {
                            renderer: $.jqplot.CategoryAxisRenderer
                    },
                    yaxis: {
                            // Don't pad out the bottom of the data range.  By default,
                            // axes scaled as if data extended 10% above and below the
                            // actual range to prevent data points right on grid boundaries.
                            // Don't want to do that here.
                            padMin:0
                    }
            },
            legend: {
                    show: true,
                    location: 'e',
                    labels: ["Completos en Puerto", "Completos en Planta", "Completables", "Stock Incompleto", "Por Producir"],
                    placement: 'outside'
            }
            });

            // Bind a listener to the "jqplotDataClick" event.  Here, simply change
            // the text of the info3 element to show what series and ponit were
            // clicked along with the data for that point.
            $('#chart3').bind('jqplotDataClick',
            function (ev, seriesIndex, pointIndex, data) {
                if (seriesIndex == 3 || seriesIndex == 4) {
                    var route = "{{ path('arauco_pedido_extend_inc_eta', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
                else if (seriesIndex == 2) {
                    var route = "{{ path('arauco_pedido_extend_complet_eta', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
                else if (seriesIndex == 1) {
                    var route = "{{ path('arauco_pedido_extend_com_cpl', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
                else {
                    var route = "{{ path('arauco_pedido_extend_com_cpu', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
            }
            );
            $('#chart4').bind('jqplotDataClick',
            function (ev, seriesIndex, pointIndex, data) {
                if (seriesIndex == 3 || seriesIndex == 4) {
                    var route = "{{ path('arauco_pedido_extend_inc_fpe', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
                else if (seriesIndex == 2) {
                    var route = "{{ path('arauco_pedido_extend_complet_fpe', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
                else if (seriesIndex == 1) {
                    var route = "{{ path('arauco_pedido_extend_com_cpl', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
                else {
                    var route = "{{ path('arauco_pedido_extend_com_cpu', { 'week': "jsWeek" }) }}";
                    window.location = route.replace("jsWeek", pointIndex);
                }
            }
            );
    });
    </script>
{% endblock %}

{% block title %} Pedidos -{% endblock %}

{% block content %}
<div class="tab-content">
{% block body %}
    <div class="tab-pane active" id="inicio">
        <div class="hero-unit">
            <h2>Gráfico de pedidos por semana</h2>
<center><h3><a href="{{ path('arauco_pedido_index_aasa') }}" class="btn btn-success btn-large">AASA</a> <a href="{{ path('arauco_pedido_index_pasa') }}" class="btn btn-success btn-large">PASA</a></h3></center>
            {% block AASAPASA %}
            {% endblock %}
            <h3>Simulación ETA</h3>
            <center>
                <div id="chart3" style="width:800px; height:300px;"></div>
                <br />
                <a href="{{ path('arauco_pedido_csv_general_eta') }}" class="text-info pull-right">Exportar reporte generalizado de Simulación ETA en .csv <i class="icon-download-alt"></i></a>
                <br /><br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><center>Semana</center></th>
                            <th><center>Completos en Puerto</center></th>
                            <th><center>Completos en Planta</center></th>
                            <th><center>Completables</center></th>
                            <th><center>Stock Incompleto</center></th>
                            <th><center>Por Producir</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in 0..7 %}
                        <tr>
                            <td><center>{{ i+1 }}</center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_com_cpu', { 'week': i }) }}">{{ cantEntregasCompletasEnPuerto [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_com_cpl', { 'week': i }) }}">{{ cantEntregasCompletasEnPlanta [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_complet_eta', { 'week': i }) }}">{{ cantEntregasCompletablesETA [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_inc_eta', { 'week': i }) }}">{{ cantCompletadeEntregasIncompletasETA [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_inc_eta', { 'week': i }) }}">{{ cantIncompletadeEntregasIncompletasETA [i] }}</a></center></td>
                        </tr>
                   {% endfor %}
                    </tbody>
                </table>
            </center>
            <br />
            <h3>Simulación FPE</h3>
            <center>
                <div id="chart4" style="width:800px; height:300px;"></div>
                <br />
                <a href="{{ path('arauco_pedido_csv_general_fpe') }}" class="text-info pull-right">Exportar reporte generalizado de Simulación FPE en .csv <i class="icon-download-alt"></i></a>
                <br /><br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><center>Semana</center></th>
                            <th><center>Completos en Puerto</center></th>
                            <th><center>Completos en Planta</center></th>
                            <th><center>Completables</center></th>
                            <th><center>Stock Incompleto</center></th>
                            <th><center>Por Producir</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in 0..7 %}
                        <tr>
                            <td><center>{{ i+1 }}</center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_com_cpu', { 'week': i }) }}">{{ cantEntregasCompletasEnPuerto [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_com_cpl', { 'week': i }) }}">{{ cantEntregasCompletasEnPlanta [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_complet_fpe', { 'week': i }) }}">{{ cantEntregasCompletablesFPE [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_inc_fpe', { 'week': i }) }}">{{ cantCompletadeEntregasIncompletasFPE [i] }}</a></center></td>
                            <td><center><a href="{{ path('arauco_pedido_extend_inc_fpe', { 'week': i }) }}">{{ cantIncompletadeEntregasIncompletasFPE [i] }}</a></center></td>
                        </tr>
                   {% endfor %}
                    </tbody>
                </table>
            </center>
            <br />
            <div class="alert alert-info">
                <strong>NOTA</strong>: Todas las cantidades mostradas en los gráficos están en miles de m&sup3;.
            </div>
        </div> <!-- hero-unit -->
    </div> <!-- tab-pane active -->
{% endblock %}
</div> <!-- tab-content -->
{% endblock %}
