<!DOCTYPE html>
<html lang=es>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} Arauco y Constitución S.A. - Sembremos futuro </title>
    {% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}
    {% stylesheets '@AraucoBaseBundle/Resources/public/css/*' filter='yui_css'%}
    <link rel="stylesheet" type="text/css"
          media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet'
          type='text/css'>

    {% javascripts
        '@AraucoBaseBundle/Resources/public/js/jquery.js'
        '@AraucoBaseBundle/Resources/public/js/jquery-ui.js'
        '@AraucoBaseBundle/Resources/public/js/jquery.dataTables.js'
        '@AraucoBaseBundle/Resources/public/js/jquery.min.js'
        '@AraucoBaseBundle/Resources/public/js/jquery.jqplot.min.js'
        '@AraucoBaseBundle/Resources/public/js/jqplot.barRenderer.min.js'
        '@AraucoBaseBundle/Resources/public/js/jqplot.categoryAxisRenderer.min.js'
        '@AraucoBaseBundle/Resources/public/js/jqplot.pointLabels.min.js'
        '@AraucoBaseBundle/Resources/public/js/*'
        filter='yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/araucobase/images/favicon.ico') }}" />
    <script class="code" type="text/javascript">
			$(document).ready(function(){
  				var s1 = [2, 6, 7, 10];
  				var s2 = [7, 5, 3, 4];
  				var s3 = [14, 9, 3, 8];
  				plot3 = $.jqplot('chart3', [s1, s2, s3], {

					// Tell the plot to stack the bars.
    				stackSeries: true,
    				captureRightClick: true,
    				seriesDefaults:{
      					renderer:$.jqplot.BarRenderer,
      					rendererOptions: {
          					// Put a 30 pixel margin between bars.
          					barMargin: 30,
         					// Highlight bars when mouse button pressed.
          					// Disables default highlighting on mouse over.
          					highlightMouseDown: true    
      					},
      					pointLabels: {show: true}
    				},
    				axes: {
      					xaxis: {
          					renderer: $.jqplot.CategoryAxisRenderer
      					},
      					yaxis: {
        					// Don't pad out the bottom of the data range.  By default,
        					// axes scaled as if data extended 10% above and below the
        					// actual range to prevent data points right on grid boundaries.
        					// Don't want to do that here.
        					padMin:0
      					}
    				},
    				legend: {
      					show: true,
      					location: 'e',
      					placement: 'outside'
    				}      
  				});
  				// Bind a listener to the "jqplotDataClick" event.  Here, simply change
  				// the text of the info3 element to show what series and ponit were
  				// clicked along with the data for that point.
  				$('#chart3').bind('jqplotDataClick', 
    				function (ev, seriesIndex, pointIndex, data) {
      					$('#info3').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
    				}
  				); 
			});
		</script>
  </head>
  
  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
          {{ knp_menu_render('AraucoBaseBundle:Builder:mainMenu',
                            {'nav_type': 'pills'}) }}
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div id="contFooter" class="container">
          <p id="leftFooter" class="muted">
            <strong>Diseñado y desarrollado por
            <a id="zpfooter"
               href="http://wordpress.zeroproject.cl/">ZeroProject</a></strong>
          </p>
          <a href="http://www.arauco.cl/index.asp">
            <img id="logoFooter"
               src="{{ asset('bundles/araucobase/images/araucobanner.jpg') }}"
               alt="Logo Arauco"
               />
          </a>
          <p id="rightFooter" class="muted credit">
            <strong>Copyright &copy; 2013 Arauco y Constitución S.A.<br />
            Todos los derechos reservados</strong></p>
        </div><!-- contFooter -->
      </div><!-- container -->
    </div><!-- footer -->
    
    <!-- Bootstrap JS -->
    {% block javascripts %}
    {% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
    {% endblock %}
  </body>
</html>
