<!DOCTYPE html>
<html lang=es>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} Arauco y Constitución S.A. - Sembremos futuro </title>
    {% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}
    {% stylesheets 
			'@AraucoBaseBundle/Resources/public/css/DT_bootstrap.css' 
			'@AraucoBaseBundle/Resources/public/css/jquery-ui.css' 
			'@AraucoBaseBundle/Resources/public/css/stickyfooter.css' 
			filter='yui_css'%}
    <link rel="stylesheet" type="text/css"
          media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
	{% block styleGrafico %} {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet'
          type='text/css'>
    {% block head_javascripts %}
    {% endblock %}
    {% javascripts
        '@AraucoBaseBundle/Resources/public/js/jquery.js'
        '@AraucoBaseBundle/Resources/public/js/jquery-ui.js'
        '@AraucoBaseBundle/Resources/public/js/jquery.dataTables.js'
        '@AraucoBaseBundle/Resources/public/js/DT_bootstrap.js'
        filter='yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/araucobase/images/favicon.ico') }}" />
    {% block scriptGrafico %} {% endblock %}
  </head>
  
  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
          {{ knp_menu_render('AraucoBaseBundle:Builder:mainMenu',
                            {'nav_type': 'pills'}) }}
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div id="contFooter" class="container">
          <p id="leftFooter" class="muted">
            <strong>Diseñado y desarrollado por
            <a id="zpfooter"
               href="http://wordpress.zeroproject.cl/">ZeroProject</a></strong>
          </p>
          <a href="http://www.arauco.cl/index.asp">
            <img id="logoFooter"
               src="{{ asset('bundles/araucobase/images/araucobanner.jpg') }}"
               alt="Logo Arauco"
               />
          </a>
          <p id="rightFooter" class="muted credit">
            <strong>Copyright &copy; 2013 Arauco y Constitución S.A.<br />
            Todos los derechos reservados</strong></p>
        </div><!-- contFooter -->
      </div><!-- container -->
    </div><!-- footer -->
    
    <!-- Bootstrap JS -->
    {% block javascripts %}
    {% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
    {% endblock %}
  </body>
</html>
