{% extends '::base.html.twig' %}

{% block styleGrafico %}
	{{ parent() }}
	{% stylesheets
            '@AraucoBaseBundle/Resources/public/css/jquery.jqplot.min.css'
            filter='yui_css'%}
    <link rel="stylesheet" type="text/css"
          media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %} Pedidos -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      <legend>Pedidos para semana del {{ sWeek }} al {{ eWeek }}</legend>


      {% block csv %}
      {% endblock %}

      <br />
      <br />
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>DocEntrega</th>
            <th>PP</th>
            <th>Org.</th>
            <th>FPE</th>
            <th>Material</th>
            <th>Descripción</th>
            <th>Volumen Pedido</th>
            <th>TA</th>
            <th>TA ETA</th>
            <th>TA FPE</th>
          </tr>
        </thead>
        <tbody>
          {% for entrega in Entregas %}
          <tr>
            <th>{{ entrega[0] }}</th>
            <th>{{ entrega[1] }}</th>
            <th>{{ entrega[2] }}</th>
            <th>{{ entrega[3] }}</th>
            <th><a href="{{ path('arauco_stock_extend', {'id': entrega[4] }) }}">{{ entrega[4] }}</a></th>
            <th>{{ entrega[5] }}</th>
            <th>{{ entrega[6] }}</th>
            {% if entrega[7] == 0 %}
            <th>0</th>
            {% else %}
            <th><a href="{{ path('arauco_stock_docpos_asig', {'docentrega': entrega[0], 'pospedido': entrega[1] }) }}">{{ entrega[7] }}</a></th>
            {% endif %}
            {% if entrega[8] == 0 %}
            <th>0</th>
            {% else %}
            <th><a href="{{ path('arauco_stock_docpos_eta', {'docentrega': entrega[0], 'pospedido': entrega[1] }) }}">{{ entrega[8] }}</a></th>
            {% endif %}
            {% if entrega[9] == 0 %}
            <th>0</th>
            {% else %}
            <th><a href="{{ path('arauco_stock_docpos_fpe', {'docentrega': entrega[0], 'pospedido': entrega[1] }) }}">{{ entrega[9] }}</a></th>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <div class="alert alert-info"> 
        <strong>NOTA</strong>: Todas las cantidades mostradas en la tabla están en m&sup3;.
      </div>
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
