{% extends '::base.html.twig' %}

{% block title %} Balance de masa -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      {% block titulo %}
      <h2>Arauco y Constitución S.A.</h2>
      {% endblock %}
      <table class="table">
        <thead>
          <tr>
            <th>Código Material</th>
            <th>Material</th>
            <th>Stock</th>
            <th>Total pedidos</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
        {% for materialStock in total %}
          <tr>
            <th>{{ materialStock.0 }}</th>
            <th>{{ materialStock.1 }}</th>
            <th>{{ materialStock.2 }}</th>
            <th>{{ materialStock.3 }}</th>
            <th>{{ materialStock.4 }}</th>
          </tr>
        {% endfor %}
        </tbody>
      </table>
     <br />
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
