{% extends '::base.html.twig' %}

{% block title %} Balance de volumen -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      <legend>Balance de volumen según Stock y Pedidos</legend>
      <p>Total Balance = 
      {% if totalBalance > 0 %}
      <span class="label label-success">{{ totalBalance }}</span>
      {% else %}
      <span class="label label-important">{{ totalBalance }}</span>
      {% endif %}
      m&sup3;.<br />
      Total Stock = {{ totalStock }} m&sup3;.<br />
      Total Pedidos = {{ totalPedidos }} m&sup3;.<br />
      </p>
      <a class="text-info" href="{{ path ('arauco_balance_csv') }}">Exportar a .csv <i class="icon-download-alt"></i></a>
      <br />
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>Código Material</th>
            <th>Material</th>
            <th>Stock</th>
            <th>Total pedidos</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
        {% for materialStock in total %}
          <tr>
            <th>{{ materialStock.0 }}</th>
            <th>{{ materialStock.1 }}</th>
            <th>{{ materialStock.2 }}</th>
            <th>{{ materialStock.3 }}</th>
            {% if materialStock.4 > 0 %}
            <th class="label label-success">{{ materialStock.4}}</th>
            {% else %}
            <th class="label label-important">{{ materialStock.4 }}</th>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br />
      <div class="alert alert-info">
        <strong>NOTA</strong>: Todas las cantidades mostradas en la tabla están en m&sup3;.
      </div>
      <br />
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
