{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      {% block titulo %}
      {% endblock %}
      <p>
        <strong>ID Entrega:</strong> {{ docentrega }}
        <br />
        <strong>Posición:</strong> {{ pospedido }}
      </p>
      {% block csv %}
      {% endblock %}
      <br />
      <br />
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>Lote</th>
            <th>Centro</th>
            <th>Almacén</th>
            <th>Volumen</th>
          </tr>
        </thead>
        <tbody>
          {% for material in stock %}
          <tr>
            <th>{{ material.Lote }}</th>
            <th>{{ material.Centro }}</th>
            <th>{{ material.Almacen }}</th>
            <th>{{ material.M3 }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <div class="alert alert-info">
        <strong>NOTA</strong>: Todas las cantidades mostradas en la tabla están en m&sup3;.
      </div>
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
