{% extends '::base.html.twig' %}

{% block title %} Stock sin asignar -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      {% block titulo %}
      <legend>Stock disponible</legend>
      {% endblock %}
      <p>Stock sin asignar = <span class="label label-success">{{ total }}</span> lotes.</p>
      <a class ="text-info" href="{{ path ('arauco_stock_csv') }}">Exportar a .csv <i class="icon-download-alt"></i></a>
      <br />
      <br />
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>Lote</th>
            <th>Material</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          {% for material in stocksa %}
          <tr>
            <th>{{ material.Lote }}</th>
            <th>{{ material.Material }}</th>
            <th>{{ material.Desc_Mat }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <div class="alert alert-info">
        <strong>NOTA</strong>: Todas las cantidades mostradas en la tabla están en m&sup3;.
      </div>
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
